@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

:root {
    --font-family: "IBM Plex Mono", monospace;
    --bg-color: #7AB3BF;
    --primary-color: #262626;
    --button-color: #41bfb25d;
}


body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.2em;
    margin: 25px 0px;
}

.mensagem {
    font-size: 1.7em;
}

.box {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    padding: 3px;
}

.btn-jogar {
    cursor: pointer;
    padding: 7px;
    background-color: var(--button-color);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--primary-color);
    box-shadow: 9px 8px 9px 0px rgba(0, 0, 0, 0.185);
}

.btn-jogar:hover {
    padding: 9px;
    border: 1px solid white;
    transition-duration: 0.4s; 
}

.btn-jogar:not(:hover){
    transition-duration: 0.4s; 
}